* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--back)
}

:root {
    --light-blue: #7bc5ed;
    --white: #ffffff;
    --back: #c2e3f0;
    --line-color: #29518a;
}

body {
    color: var(--light-blue);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--white);
    background-color: var(--light-blue);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--light-blue);
}
header nav {
    margin: 7px 0;
    background-color: var(--light-blue);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: var(--light-blue);
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    background-color: var(--light-blue);
}

.hero {
    background-image: url("../images/sky-header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subtitle {
    background-color: var(--light-blue);
    padding: 20px;
    color: var(--white);
    border: solid 3px var(--white);
    width: 23%;
    margin: 9.5%;
}

.subtitle h3 {
    font-size: 24px;
    margin: 0;
    background-color: var(--light-blue);
}

.flex-row h1 {
    font-size: 36px;
    margin: 0;
}

.flex-row {
    display: flex;
    margin: 10%
}

hr {
    width:100%; 
    height:5px;
    background: var(--line-color);
}