* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white)
}

:root {
    --light-blue: #7bc5ed;
    --white: #ffffff;
    --back: #c2e3f0;
    --line-color: #29518a;
}

body {
    color: var(--light-blue);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--white);
    background-color: var(--light-blue);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--light-blue);
}
header nav {
    margin: 7px 0;
    background-color: var(--light-blue);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    background-color: var(--light-blue);
}

.hero {
    display: flex;
    background-image: url("../images/sky-header.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    height: 250px;
    padding: 60px;
    background-attachment: fixed;
    background-position: 80%;
    object-fit: cover;
}

.subtitle {
    background-color: var(--light-blue);
    opacity: 70%;
    padding: 20px;
    color: var(--white);
    border: solid 3px var(--white);
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.subtitle h3 {
    font-size: 24px;
    text-size-adjust: 80%;
    margin: 0;
    background-color: var(--light-blue);
}


.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.vert-line {
    border-right: 5px solid var(--line-color);
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}

.title {
    font-size: 36px;
    margin: 0 auto 0 0;
    text-align: right;
    padding: 0px 10px 0px 10px;
    flex: 1 1;
    height: 100%;
    width: 20%; 
}
.intro {
    text-align: left;
}

.descriptions img {
    width: 20%;
}

hr {
    width:100%; 
    height:5px;
    background: var(--line-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-gap: 20px;
    align-content: center;
}

.grid-item {
    margin: 3px 3px 3px 3px;
    border: solid;
    color: var(--line-color);
}